.button {
  padding: 4px 15px;
  background-color: var(--color-primary-blue);
  border-radius: 50px;

  color: var(--color-grey-scale-transparent-2);
  font: var(--text-sm);
  cursor: pointer;
  transition: 200ms all ease;
}

.button:hover {
  color: var(--color-grey-scale-0);
  filter: brightness(1.1);
}

.button:disabled {
  cursor: not-allowed;
  filter: none;
}
