.container {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 80vh;
  padding: 0 24px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: var(--color-primary-navy);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.2);
}

/* title */
.title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 25px 0 50px 0;

  color: var(--color-grey-scale-0);
  font: var(--title-lg);
}

/* nav */
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;

  border-radius: 15px;
  background-color: var(--color-primary-navy);

  color: var(--color-grey-scale-transparent);
  font: var(--text-md);
  text-decoration: none;

  transition: 200ms all ease;
}

.nav a:hover {
  background-color: var(--color-primary-blue);
}

.nav a.focus {
  color: var(--color-grey-scale-0);
  background-color: var(--color-primary-blue);
}

/* logout button */
.logout_btn {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 42px;

  color: var(--color-grey-scale-transparent);
  cursor: pointer;
  transition: 200ms color ease;
}

.logout_btn:hover {
  color: var(--color-grey-scale-0);
}

.logout_btn:hover .logoutIcon path {
  fill-opacity: 1;
}

.logoutIcon path {
  transition: 200ms fill-opacity ease;
}
